.git
.gitignore
.venv
__pycache__
.pytest_cache
.ruff_cache
.env
.env.*
!.env.example
node_modules
frontend/node_modules
frontend/dist
**/*.pyc
**/__pycache__
**/.pytest_cache
**/.ruff_cache
**/.DS_Store
**/*.md
!README.md
docs/**
notebooks/**
tests/**
migrations/**
docker/**
!docs/powerbi/
!docs/powerbi/reporte_demanda_energetica.pdf
!docs/powerbi/reporte_demanda_energetica.pbix
